# COGS 108 - Data Checkpoint

# Names
- Jack Weston
- Spandan Das
- Seema Rida
- Louis Alejandro Soumah

# Research Question

To what extent can agroclimatological features, as measured by the Regional NASA POWER DAV (Prediction of Worldwide Energy Resource) Tool, predict future volatility in cocoa futures and market prices, with a focus on the COCO Wisdom Tree and CCc1 spread, using historical data from March 1st 2024 to October 15th 2024.

## Background and Prior Work

Cocoa grows in the pods of the Theobroma cacao tree with a name that roughly translates to “God food” in Greek. Since the Aztecs and Mayans, Cocoa had long been used as a form of consumable currency.<a name="cite_ref-1"></a>[<sup>[1]</sup>](https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/#:~:text=Although%20people%20mostly%20bartered%20goods,Aztecs%2C%20valued%20cacao%20as%20money
) This commodity has become a highly prized export in the modern world. We use Cocoa not only to make desserts and a large variety of drinks, but it is also used for a number of skin products such as lotions, creams, and lip balms which is why it is traded so abundantly.<a name="cite_ref-2"></a>[<sup>[2]</sup>](https://www.markets.com/education-centre/cocoa-trading/)

Cocoa futures are similar to stocks and bonds, in the sense that they allow traders to buy and sell cocoa at predetermined prices on a specified future date. When trading, a future contract represents 10 metric tons of cocoa thus can be sold either partially. Cocoa is traded on the New York Mercantile Exchange (NYMEX) and the Intercontinental Exchange (ICE) in London. The South Asian market and London prices are based on cocoa produced in African regions, particularly Ghana and the Ivory Coast—two of the world’s largest sources of cocoa production. Cocoa is one of the smallest soft commodity markets, but regardless it still has a major influence on the futures market.<a name="cite_ref-3"></a>[<sup>[3]</sup>](https://tradingeconomics.com/commodity/cocoa#:~:text=12%20of%202024.-,Cocoa%20increased%203%2C560.48%20USD/MT%20or%2084.85%25%20since%20the%20beginning,9639.41%20in%2012%20months%20time.&text=Cocoa%20is%20traded%20on%20New,difference%20(CFD)%20financial%20instruments)

The COCO Wisdom Tree and CCc1 spread are key indicators in the cocoa futures market. The COCO Wisdom Tree is an exchange-traded product that tracks cocoa futures prices, providing investors with a way to gain exposure to the cocoa market without directly trading futures. The CCc1 spread represents the difference between two different cocoa futures contracts, typically from different delivery months. This spread can widen or narrow based on market expectations of supply and demand, reflecting shifts caused by weather patterns, geopolitical factors, or speculative trading. By analyzing these spreads, traders gain insights into short-term price volatility and market sentiment.

Cocoa futures provide crucial financial instruments for both producers and buyers. Farmers use futures contracts to hedge against potential price drops, securing stable income despite volatile market conditions. Similarly, manufacturers such as Hershey and Mondelez use futures contracts to protect against rising cocoa costs, ensuring they can stabilize their production costs. High volatility in cocoa futures, driven by agroclimatic events like ENSO, forces these actors to adjust their strategies accordingly, sometimes leading to sudden changes in pricing for consumers.

In the last year, the highest recorded price of cocoa futures was \\$12,261.2 (April 19th 2024) per metric ton which was about a 76 percent increase from (April 19th 2023) at \\$2,979.00. This was due to a low crop yield in the Ivory coast and Ghana in 2023 due to low rainfall, plant disease and the short lifespan of the cacao tree. Since the Ivory coast accounts for more than 60% of the world's cocoa production, thus the shortage was met with a wave of financial speculation leading not only the future prices of coca to spike, but also big name brands such as Hershey and Mondelez, the company that produces Cadbury and Toblorne to increase their prices about 5 and 6 percent respectively.<a name="cite_ref-4"></a>[<sup>[4]</sup>](https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/#:~:text=Although%20people%20mostly%20bartered%20goods,Aztecs%2C%20valued%20cacao%20as%20money)

Agroclimatological factors like temperature, water availability, soil fertility, and humidity are critical to the health and productivity of cocoa trees. Extreme deviations from the optimal growing conditions—such as those brought on by ENSO—can exacerbate supply disruptions, leading to significant fluctuations in the futures market. Investors and traders monitor these environmental indicators closely, as a poor growing season can prompt speculative trading, increasing market volatility. Conversely, favorable weather conditions can lead to market corrections and oversupply, which may depress prices.

In addition to the weather-related factors, another significant change in the cocoa market has been the increasing conversion of cocoa plantations to palm oil production in some regions, particularly in Southeast Asia. Palm oil is often seen as a more profitable crop due to its high demand and versatile uses, leading many farmers to switch away from cocoa. This shift has contributed to the recent reduction in cocoa supply, further driving up prices in an already volatile market. Combined with weather disruptions like El Niño, these supply-side constraints have amplified market volatility.

This study will use historical data from March 1st 2024 to October 15th 2024, focusing on major ENSO events and their corresponding impacts on cocoa production, futures prices, and market volatility. By incorporating data from the Regional NASA POWER DAV Tool, we aim to quantify how accurately these agroclimatic features can predict daily fluctuations in the COCO Wisdom Tree and CCc1 spread.

# Refrences
1. "Cacao Currency: Ancient Civilizations Used Chocolate as Cash." *Chocolate Class*, 24 Mar. 2020, [https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/](https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/).

2. *Cocoa Trading.* Markets.com, [https://www.markets.com/education-centre/cocoa-trading/](https://www.markets.com/education-centre/cocoa-trading/).

3. *Cocoa.* *Trading Economics*, [https://tradingeconomics.com/commodity/cocoa](https://tradingeconomics.com/commodity/cocoa).

4. "Cacao Currency: Ancient Civilizations Used Chocolate as Cash." *Chocolate Class*, 24 Mar. 2020, [https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/](https://chocolateclass.wordpress.com/2020/03/24/cacao-currency-ancient-civilizations-used-chocolate-as-cash/).

# Hypothesis

We predict that agroclimatological features , particularly rainfall and temperature anomalies, will significantly correlate with daily volatility in cocoa futures, as reflected in the COCO Wisdom Tree and CCc1 spread. Given ENSO's established impact on global weather patterns and cocoa crop yields, we hypothesize that El Niño phases (with wetter, warmer conditions) will drive higher volatility in cocoa futures compared to La Niña phases (with drier, cooler conditions).

# Data

## Data overview
- Dataset #1
  - Dataset Name: NASA Power Dav Tool Data
  - Source: [NASA's Power DAV Tool](https://power.larc.nasa.gov/)
  - Number of Observations: 46,848
  - Number of Variables: 12
- Dataset #2
  - Dataset Name: Historic Daily Close Prices for Cocoa Futures
  - Source: Data manually extracted from Refinitiv database
  - Number of Observations: 949
  - Number of Variables: 7

### NASA Power Dav Tool Data
This dataset includes daily agroclimatological measurements from March 1, 2023, to June 30, 2024, across various locations specified by latitude and longitude. Key variables include:

- Temperature at 2 meters (T2M, T2M_MAX, T2M_MIN) and soil temperature (TS) capture atmospheric and ground-level temperature trends.
- Relative humidity (RH2M), ground wetness profile (GWETPROF), root zone wetness (GWETROOT), and corrected total precipitation (PRECTOTCORR) act as indicators of moisture and precipitation levels. These metrics serve as proxies for climate conditions affecting agriculture in cote d'ivoire.

### Historic Daily Cocoa Futures Data
The Cocoa Futures dataset provides daily trading data for cocoa futures, extending up to 12 months forward, covering variables such as:

- High, low, opening, and closing prices (HIGH, LOW, OPEN, CLOSE) to track price fluctuations.
- Volume of trades (VOLUME) to reflect market activity and liquidity.

### Integration Plan
To integrate these datasets, we plan to align them by date to examine any correlations between agroclimatological conditions (e.g., temperature or rainfall) and cocoa market prices. This may involve merging the datasets on the date variable, performing time series analysis or regression if relationships are evident. This would assess the impact of weather conditions on cocoa price trends.

## NASA Power Dav Tool Data

### Import Required Packages

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
df = pd.read_csv('Raw_DB/NASA_Agroclimatological_Data.csv', on_bad_lines='skip')
df.head()

,LAT,LON,YEAR,DOY,GWETPROF,T2M,T2M_MAX,T2M_MIN,TS,RH2M,GWETROOT,PRECTOTCORR
0,4.75,-8.25,2023,60,0.73,26.97,28.95,25.33,27.32,83.49,0.74,0.98
1,4.75,-7.75,2023,60,0.69,26.72,29.31,24.56,26.82,84.77,0.68,0.87
2,4.75,-7.25,2023,60,0.68,26.67,29.38,24.41,26.69,85.31,0.66,0.94
3,4.75,-6.75,2023,60,0.70,26.88,29.09,24.94,26.96,84.96,0.67,1.29
4,4.75,-6.25,2023,60,0.64,27.43,28.94,26.01,27.72,83.81,0.62,1.35

In [8]:
# Change YEAR & DOY into DateTime format
df['DATE'] = pd.to_datetime(df['YEAR'].astype(str) + df['DOY'].astype(str), format='%Y%j')

# Reorder the columns to make DATE the first column and drop YEAR and DOY
df = df[['DATE'] + [col for col in df.columns if col not in ['YEAR', 'DOY', 'DATE']]]

# Rename cols
df.rename(columns={
    'TS': 'Earth_Skin_Temp',
    'RH2M': 'Rel_Humidity',
    'GWETROOT': 'Root_Soil_Wetness',
    'PRECTOTCORR': 'Precip_Corrected',
    'T2M_MIN': 'Temp_Min',
    'T2M_MAX': 'Temp_Max',
    'T2M': 'Temp_Avg',
    'GWETPROF': 'Soil_Moisture'
}, inplace=True)

print(df.shape)
df.head()

(46848, 11)

,DATE,LAT,LON,Soil_Moisture,Temp_Avg,Temp_Max,Temp_Min,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected
0,2023-03-01,4.75,-8.25,0.73,26.97,28.95,25.33,27.32,83.49,0.74,0.98
1,2023-03-01,4.75,-7.75,0.69,26.72,29.31,24.56,26.82,84.77,0.68,0.87
2,2023-03-01,4.75,-7.25,0.68,26.67,29.38,24.41,26.69,85.31,0.66,0.94
3,2023-03-01,4.75,-6.75,0.70,26.88,29.09,24.94,26.96,84.96,0.67,1.29
4,2023-03-01,4.75,-6.25,0.64,27.43,28.94,26.01,27.72,83.81,0.62,1.35

In [9]:
# Drop rows where any cell has a value of -999
# -999 indicates NULL for that cell, as per NASA Power DAV Tool
df = df[(df != -999).all(axis=1)]

print(df.shape)
df.head()

(43920, 11)

,DATE,LAT,LON,Soil_Moisture,Temp_Avg,Temp_Max,Temp_Min,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected
0,2023-03-01,4.75,-8.25,0.73,26.97,28.95,25.33,27.32,83.49,0.74,0.98
1,2023-03-01,4.75,-7.75,0.69,26.72,29.31,24.56,26.82,84.77,0.68,0.87
2,2023-03-01,4.75,-7.25,0.68,26.67,29.38,24.41,26.69,85.31,0.66,0.94
3,2023-03-01,4.75,-6.75,0.70,26.88,29.09,24.94,26.96,84.96,0.67,1.29
4,2023-03-01,4.75,-6.25,0.64,27.43,28.94,26.01,27.72,83.81,0.62,1.35

### Create a new df where we assign stations to each LAT, LON

In [13]:
df['Station_ID'] = df.groupby(['LAT', 'LON']).ngroup()
column_order = ['Station_ID'] + [col for col in df.columns if col != 'Station_ID']
df = df[column_order]

station_df

,Station_ID,DATE,LAT,LON,Soil_Moisture,Temp_Avg,Temp_Max,Temp_Min,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected
0,0,2023-03-01,4.75,-8.25,0.73,26.97,28.95,25.33,27.32,83.49,0.74,0.98
1,1,2023-03-01,4.75,-7.75,0.69,26.72,29.31,24.56,26.82,84.77,0.68,0.87
2,2,2023-03-01,4.75,-7.25,0.68,26.67,29.38,24.41,26.69,85.31,0.66,0.94
3,3,2023-03-01,4.75,-6.75,0.70,26.88,29.09,24.94,26.96,84.96,0.67,1.29
4,4,2023-03-01,4.75,-6.25,0.64,27.43,28.94,26.01,27.72,83.81,0.62,1.35
...,...,...,...,...,...,...,...,...,...,...,...,...
46843,85,2024-06-30,8.25,-4.75,0.55,25.62,28.88,22.98,25.78,85.20,0.55,6.88
46844,86,2024-06-30,8.25,-4.25,0.57,25.48,28.22,23.14,25.57,86.75,0.57,7.58
46845,87,2024-06-30,8.25,-3.75,0.58,25.47,28.37,23.33,25.63,86.88,0.59,8.29
46846,88,2024-06-30,8.25,-3.25,0.56,25.19,28.30,23.21,25.40,86.55,0.57,7.18
46847,89,2024-06-30,8.25,-2.75,0.55,25.42,28.62,23.55,25.66,85.87,0.57,7.75

### Slicing & Exporting df by Station ID

In [14]:
# Initialize a counter for the number of CSV files created
csv_count = 0

# Assuming `df` is your DataFrame with a column named 'Station_ID'
for station_id, group in df.groupby('Station_ID'):
    # Define the filename based on the Station_ID
    filename = f'Station_{station_id}.csv'
    
    # Save the group as a CSV file
    group.to_csv(filename, index=False)
    
    # Increment the counter
    csv_count += 1

# Print the total number of CSV files created
print(f"Total CSV files created: {csv_count}")

Total CSV files created: 90

### Verify Station_ID CSVs' Shape

In [18]:
# Initialize a counter for the number of CSV files created
csv_count = 0
mismatch_count = 0

# Get the directory where the notebook is located
notebook_dir = os.getcwd()  # Gets the current working directory of the notebook

# Define the subdirectory for saving CSV files
subdirectory = os.path.join(notebook_dir, "NASA_DB")

# Create the subdirectory if it doesn't exist
os.makedirs(subdirectory, exist_ok=True)

# Assuming `df` is your DataFrame with a column named 'Station_ID'
for station_id, group in df.groupby('Station_ID'):
    # Define the filename based on the Station_ID and save it in the subdirectory
    filename = os.path.join(subdirectory, f'Station_{station_id}.csv')
    
    # Save the group as a CSV file
    group.to_csv(filename, index=False)
    
    # Increment the counter
    csv_count += 1
    
    # Read back the CSV file to verify its shape
    saved_df = pd.read_csv(filename)
    
    # Check if the shape matches
    if saved_df.shape != group.shape:
        print(f"Shape mismatch for {filename}: Original {group.shape}, Saved {saved_df.shape}")
        mismatch_count += 1

# Print the total number of CSV files created and any mismatches found
print(f"Total CSV files created: {csv_count}")
if mismatch_count == 0:
    print("All CSV files have the same shape.")
else:
    print(f"{mismatch_count} CSV files have shape mismatches.")

Total CSV files created: 90
All CSV files have the same shape.

## Historic daily close prices for cocoa futures

### Import required packages

In [2]:
import pandas as pd
import refinitiv.data as rd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import warnings
import datetime as dt
warnings.filterwarnings("ignore")

rd.open_session()

An error occurred while requesting URL('http://localhost:9000/api/status').
	ConnectError('[Errno 111] Connection refused')
An error occurred while requesting URL('http://localhost:9060/api/status').
	ConnectError('[Errno 111] Connection refused')
Error: no proxy address identified.
Check if Desktop is running.
An error occurred while requesting URL('http://localhost:9000/api/handshake').
	ConnectError('[Errno 111] Connection refused')
Error on handshake url http://localhost:9000/api/handshake : ConnectError('[Errno 111] Connection refused')

### Main code and functions

In [29]:
# Function to generate the ric list

def gen_contracts(baseString):
    contracts = []
    for i in range(1, 37):
        contracts.append(baseString+'c'+str(i))
    return contracts
# Function to retrieve the data


def get_contracts_data(baseCon, start_date, end_date):
    contracts = gen_contracts(baseCon)
    print(contracts)
    df = rd.get_history(contracts, fields=[
                        "MID_PRICE"], start=start_date, end=end_date, interval='daily', count=10000)
    return df

# Function for anlyzing spread


def spread_analysis(df, c1, c2):
    df = df.reset_index().ffill()
    df['spread'] = df[c1] - df[c2]
    df['Z_score_spread'] = (df.spread - df.spread.mean())/df.spread.std(ddof=0)

    fig = px.line(df, x='Date', y='Z_score_spread',
                  title='Normalized Spread b/w two contracts')
    fig.add_shape(type='line',
                  x0=df['Date'].iloc[0],
                  y0=-3,
                  x1=df['Date'].iloc[-1],
                  y1=-3,
                  line=dict(color='Red',),
                  xref='x',
                  yref='y'
                  )
    fig.add_shape(type='line',
                  x0=df['Date'].iloc[0],
                  y0=3,
                  x1=df['Date'].iloc[-1],
                  y1=3,
                  line=dict(color='Red',),
                  xref='x',
                  yref='y'

                  )
    fig.show()

### Enter RIC root to get data. 
Enter the Ric root for each metal to get data, for example Cc1 for December-2024 and Cc2 for March-2025

In [ ]:
from refinitiv_widgets import TextField
from refinitiv_widgets import DatetimePicker
baseCon = TextField(placeholder='Enter Ric Root')

baseCon

In [ ]:
from refinitiv_widgets import TextField
dp = DatetimePicker(
    range_mode=True,
    duplex_mode='split',
    weekdays_only=True,
    value=["2022-01-01", "2022-09-09"])
dp

### Extract Data
File will be saved in user home directory. (same level with Examples folder)

In [ ]:
from pathlib import Path
rd.open_session()
df = get_contracts_data(baseCon.value, dp.value[0], dp.value[1])
fileName = baseCon.value + '.csv'
df.to_csv(Path.home() / fileName)
rd.close_session()
df.head()

### Combining Seperations into one dataset to use for future observation

In [3]:
# Folder where the CSV files are stored
folder_path = "Contract_DB"

# List of file paths for Separation_1.csv to Separation_5.csv
file_paths = [f"{folder_path}/Separation_{i}.csv" for i in range(1, 6)]

# Initialize an empty list to store dataframes
dataframes = []

# Loop through file paths, read each CSV, and append to the list
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Concatenate all dataframes into one
final_dataframe = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame into the same folder
output_path = f"{folder_path}/CocoaData.csv"
final_dataframe.to_csv(output_path, index=False)

print(f"Combined file saved at: {output_path}")

Combined file saved at: Contract_DB/CocoaData.csv

In [4]:
cocoa_data = pd.read_csv("Contract_DB/CocoaData.csv")
print(cocoa_data.shape)
cocoa_data.head()

(949, 7)

         Date    HIGH     LOW    OPEN  CLOSE   VOLUME        DATE
0  2023-06-01  3047.0  3002.0  3017.0   3008  34422.0  2023-06-01
1  2023-06-02  3034.0  2991.0  3003.0   3026  25530.0  2023-06-02
2  2023-06-05  3065.0  3002.0  3020.0   3056  28784.0  2023-06-05
3  2023-06-06  3096.0  3040.0  3063.0   3045  52105.0  2023-06-06
4  2023-06-07  3109.0  3028.0  3038.0   3103  43640.0  2023-06-07

In [5]:
# Drop the 'Data' column from the dataframe
cocoa_data = cocoa_data.drop(columns=["Date"])

In [33]:
cocoa_data.head()

     HIGH     LOW    OPEN  CLOSE   VOLUME        DATE
0  3047.0  3002.0  3017.0   3008  34422.0  2023-06-01
1  3034.0  2991.0  3003.0   3026  25530.0  2023-06-02
2  3065.0  3002.0  3020.0   3056  28784.0  2023-06-05
3  3096.0  3040.0  3063.0   3045  52105.0  2023-06-06
4  3109.0  3028.0  3038.0   3103  43640.0  2023-06-07

# Ethics & Privacy

The data from the Regional NASA POWER DAV Tool is likely to be free from direct privacy concerns since it deals with weather patterns and agroclimatological features rather than personal information. However, one potential ethical issue could arise from market biases. For instance, cocoa futures markets may disproportionately affect certain regions like West Africa, where cocoa farming is a crucial livelihood. Over-reliance on market speculation driven by environmental data could indirectly harm smallholder farmers, especially if it triggers significant price volatility.

Additionally, biases in the dataset might arise from incomplete or skewed data collection. For example, if the ENSO data disproportionately focuses on certain regions, or if some climatic factors are weighted more heavily than others, the analysis may produce results that don’t fully account for all relevant variables. To address this, we will carefully evaluate data completeness and strive to ensure an equitable representation of climatic impacts across cocoa-producing regions. We will also include measures to detect biases by comparing different regional trends and assessing whether certain groups are disproportionately affected by market volatility.

Finally, we must be cautious about how we communicate our findings, especially in a manner that could unduly influence financial markets. Ensuring that our analysis does not overstate predictive certainty is essential to avoid exacerbating speculative behaviors that could harm producers in vulnerable regions. Transparency about the limitations of our data and models will be a key component of handling these ethical concerns.

# Team Expectations

**Attendance and Punctuality:** Show up on time to all scheduled meetings. If someone is unable to attend, they must notify the group ahead of time and make efforts to catch up on missed content.

**Complete Assigned Work:** Ensure that all pre-assigned tasks are completed by the agreed-upon deadlines. Each member should come to meetings prepared, having made progress on their individual tasks.

**Equitable Work Distribution:** Every team member is expected to contribute equitably across all project areas, including coding, writing, and editing. Workloads should be distributed fairly, with everyone doing their part.

**Open Communication:** Communicate openly about any difficulties or challenges. If someone is struggling with a task, they should reach out for help in a timely manner rather than waiting until deadlines are close.

**Meeting Limit:** No more than three missed meetings will be tolerated from any member (starting now). Online attendance is available, so missing meetings without a legitimate reason will not be accepted.

# Project Timeline Proposal

| Meeting Date | Meeting Time | Completed Before Meeting | Discuss at Meeting |
|:------------:|:------------:|--------------------------|--------------------|
| 9/30  | 1PM | NA | - Project Overview <br> - Project Guidelines <br> - JupyterHub Setup <br> - Set up GitHub repository | 
| 10/5  | 11AM - 12PM | - Review 3 previous projects <br> - Propose 3 project ideas each | - Reviewed project guidelines <br> - Discussed proposed projects <br> - Developed a plan for the next meeting | 
| 10/7  | 5PM - 6PM | - Review 3 research papers (focus on referenced datasets) <br> - Identify 2-3 datasets for chosen topic | - Meet at Geisel <br> - Select the strongest project | 
| 10/10 | 11AM - 12PM | - Consult with TA to review project plan <br> | - Research prior work for background section <br> |
| 10/12 | 11AM - 1PM | - Made list of data from NASA website to choose from <br> - Finish Project Proposal | - Decide on data to use for clearning <br>  
| 10/14 | 9AM - 10AM | - Finish Project Proposal | - Reframe Question to be more specific <br> - Gather data for clearning <br> |
| 10/16 | 9AM - 10AM | - Finish Project Proposal <br> - upload data to kaggle <br> - Gather data for clearning | - Explained the data gathered <br> - updates on background research <br> - Oceanic areas had missing data (NASA) |
| 10/21 | 6PM - 7PM | - Finish Project Proposal <br> - Data exploration | - Project Review <br> - explained gathered data <br> |
| 10/24 | 2:30PM - 3:30PM | - Clean Data | - Review Project Proposal  <br> - Create a task list for the analysis |
| 10/30 | 8AM - 9:30AM | - EDA weather data | - Discussed process moving forward <br> - Time series analysis (ultimate goal) |
| 11/6 | 6:30PM - 8:30PM | - Get new weather data <br> - Finish Data Checkpoint <br> - Update corrilation Map <br> - Vet cocoa data | - EDA analysis as a team <br> - Cleaned data for NASA and Cocoa closing prices <br> - created scripts to clear outputs for notebooks|
| 11/8 | 4PM - 5:30PM | - Fix time breakdown for CC1 <br>  | - EDA analysis as a team per stations (3D gradiend maps)  |