# NASA Agroclimatological Data Slicer

This file slices the Clean_NASA_Agroclimatological.csv df by the different geographical stations.

### Import Required Pacakages

In [8]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv('Clean_NASA_Agroclimatological_Data.csv')
df.head()

,Station_ID,DATE,LAT,LON,Soil_Moisture,Temp_Avg,Temp_Max,Temp_Min,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected
0,0,2023-03-01,4.75,-8.25,0.73,26.97,28.95,25.33,27.32,83.49,0.74,0.98
1,1,2023-03-01,4.75,-7.75,0.69,26.72,29.31,24.56,26.82,84.77,0.68,0.87
2,2,2023-03-01,4.75,-7.25,0.68,26.67,29.38,24.41,26.69,85.31,0.66,0.94
3,3,2023-03-01,4.75,-6.75,0.70,26.88,29.09,24.94,26.96,84.96,0.67,1.29
4,4,2023-03-01,4.75,-6.25,0.64,27.43,28.94,26.01,27.72,83.81,0.62,1.35

### Slicing & Exporting df by Station ID

In [5]:
# Initialize a counter for the number of CSV files created
csv_count = 0

# Assuming `df` is your DataFrame with a column named 'Station_ID'
for station_id, group in df.groupby('Station_ID'):
    # Define the filename based on the Station_ID
    filename = f'Station_{station_id}.csv'
    
    # Save the group as a CSV file
    group.to_csv(filename, index=False)
    
    # Increment the counter
    csv_count += 1

# Print the total number of CSV files created
print(f"Total CSV files created: {csv_count}")

Total CSV files created: 90

### Verify Station_ID CSVs' Shape

In [10]:
# Initialize a counter for the number of CSV files created
csv_count = 0
mismatch_count = 0

# Assuming `df` is your DataFrame with a column named 'Station_ID'
for station_id, group in df.groupby('Station_ID'):
    # Define the filename based on the Station_ID
    filename = f'Station_{station_id}.csv'
    
    # Save the group as a CSV file
    group.to_csv(filename, index=False)
    
    # Increment the counter
    csv_count += 1
    
    # Read back the CSV file to verify its shape
    saved_df = pd.read_csv(filename)
    
    # Check if the shape matches
    if saved_df.shape != group.shape:
        print(f"Shape mismatch for {filename}: Original {group.shape}, Saved {saved_df.shape}")
        mismatch_count += 1

# Print the total number of CSV files created and any mismatches found
print(f"Total CSV files created: {csv_count}")
if mismatch_count == 0:
    print("All CSV files have the same shape.")
else:
    print(f"{mismatch_count} CSV files have shape mismatches.")

Total CSV files created: 90
All CSV files have the same shape.